@use '../mixins' as *;

.home-page {
  padding: 2rem 0;
  
  &__hero {
      text-align: center;
      padding: 4rem 1rem;
      
      h1 {
          font-size: 2.5rem;
          margin-bottom: 1rem;
      }
      
      p {
          font-size: 1.25rem;
          max-width: 700px;
          margin: 0 auto 2rem;
          opacity: 0.8;
      }
  }
}
