@use '../variables' as *;

.main-footer {
  background-color: $color-borde-estructura;
  color: white;
  padding: 3rem 0;
  margin-top: auto;
  
  &__container {
      width: 90%;
      max-width: 1200px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 2rem;
  }
  
  h4 {
      color: white;
      margin-bottom: 1.5rem;
  }
  
  a {
      color: rgba(255,255,255,0.8);
      
      &:hover {
          color: white;
      }
  }
  
  p {
      color: rgba(255,255,255,0.7);
  }
}
